.bg-about{
    background-image:url('./img/BG2.png') ;
    background-repeat: no-repeat;
    background-size: 100% 95%;
    background-position:  bottom;
  }
.bg-oc{
  background-image: url('./img/BGone.png');
  background-repeat: repeat-y;
  background-position: bottom right;
  background-size: 100%;
}
.bg-footer{
  background-image: url('./img/BG2.png');
  background-position: top;
  background-size: cover;

}