.co-card-01-curved-date{
    @apply relative  block rounded-xl shadow-lg max-w-full h-full ;
    margin-bottom: 5rem;
    &-img{
        a{
            @apply block overflow-hidden aspect-w-1 aspect-h-1 ;
        }
        img{
            @apply rounded-xl object-cover ;
        }
    }
    &-detail{
        @apply absolute  bg-white p-10  shadow-lg  ;
        border-radius: 6.3125rem 0rem 2rem 2rem;
        background: #FFf;
        bottom: -1.75rem;
    }
    &-date{
        @apply flex  items-center;
        img{
          @apply object-cover  mr-1 ;

        }
        p{
            @apply font-semibold;
        }
    }
    &-title{
        @apply font-semibold  text-20 line-clamp-1 mb-1;
    }
    &-subtitle{
        @apply  text-16 line-clamp-2;
    }
}